
  
  div{
    background-color: blueviolet;
  }

  nav{
    background-color: blue;
  }

 ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:#777;
      position: fixed;
      width: 100%;
    }

  li{
    display: inline;
    float: left;
  }

  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.home{
  background-color: #6beaf3;  
}

/* Changer la couleur du lien avec hover */
/* Change the link color on hover */
li a:hover {
  background-color: #111;
  color: white;
}

div.container{
  background-color: aqua;
}

div.gallery {
  
  margin: 500px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  margin: 600px;
  padding: 15px;
  text-align: center;
  background-color: #777;
}
.gallery{

}